.cache
__pycache__
*.egg-info
.ipynb_checkpoints
*.pyc
*.pyo
.tox
dist
build
private
restats

# Coverage reports
.coverage
.coverage.*

# editor 
.idea
.project
.pydevproject
.vscode

# env folders
[Ll]ib
[Ss]cripts
etc
pyvenv.cfg
[Ss]hare